html{
    background-color: rgb(255, 255, 255);
}

.container{
    margin-top: -60px;
    width: 85%;
    height: 250px;
    background-image: url(https://images.pexels.com/photos/3006340/pexels-photo-3006340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    margin-left: 90px;
    background-size: 100%;  
}

.text__sup{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -40px;
    padding-top: 15px;

}

.buttons{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 15%;
    
}

.buttons input:hover{
    border: solid 2px aquamarine;
    }

.redondeado{
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    border: white;
    margin: 10px;
    height: 25px;
    padding: 5px;
    font-size: 15px;
}

.suscribe{
    border-radius: 25px;
    border: white;
    margin: 10px 10px 0px 0px;
    background-color: pink;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.suscribe:hover{
    background-color: rgb(221, 101, 121);
}

.text__inf{
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.text__inf h2{
    margin-top: -240px;
}